@model HCLAcademy.Models.Project

<div id="body">
    <p>
        There was an error while deleting the Project:
    </p>
    @Html.DisplayNameFor(model=>model.ProjectName)
    @Html.ActionLink("Back To Index","AddProject")
</div>